--
-- PostgreSQL database dump
--

\restrict ZqzFXxLEqtx7f9JWN6eaGwl7CShPvZ5gebFDpcWCZJcGcEUb7jgdv3QcL1lJGk0

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: fases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fases (
    id integer NOT NULL,
    tipo character varying(18) NOT NULL,
    subtipo character varying(25),
    nome character varying(25) NOT NULL,
    descricao text NOT NULL,
    dicas text,
    imagem character varying(255)
);


ALTER TABLE public.fases OWNER TO postgres;

--
-- Name: fases_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fases_id_seq OWNER TO postgres;

--
-- Name: fases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fases_id_seq OWNED BY public.fases.id;


--
-- Name: gatos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gatos (
    id integer NOT NULL,
    raridade character varying(15) NOT NULL,
    nome character varying(40) NOT NULL,
    vida integer NOT NULL,
    atq integer NOT NULL,
    vel_atq numeric(5,2) NOT NULL,
    dps numeric(10,2) NOT NULL,
    alcance_atq integer NOT NULL,
    tipo_atq character varying(5) NOT NULL,
    vel_movimento numeric(4,1) NOT NULL,
    qtde_knockbacks integer NOT NULL,
    tmp_recarga_unidade numeric(5,2),
    lvl_max integer NOT NULL,
    lvls_adicionais integer,
    bom_contra text[],
    hab_especiais text[],
    custo integer NOT NULL,
    imagem character varying(255),
    CONSTRAINT chk_bom_contra CHECK (((bom_contra IS NULL) OR (bom_contra <@ ARRAY['Vermelho'::text, 'Flutuante'::text, 'Preto'::text, 'Metal'::text, 'Anjo'::text, 'Alien'::text, 'Zumbi'::text, 'Rel├¡quia'::text, 'Aku'::text, 'Sem Caracter├¡sticas'::text]))),
    CONSTRAINT chk_raridade CHECK (((raridade)::text = ANY ((ARRAY['Normal'::character varying, 'Especial'::character varying, 'Raro'::character varying, 'Super Raro'::character varying, 'Uber Super Raro'::character varying, 'Lenda Rara'::character varying])::text[]))),
    CONSTRAINT chk_tipo_atq CHECK (((tipo_atq)::text = ANY ((ARRAY['├Ünico'::character varying, '├ürea'::character varying])::text[])))
);


ALTER TABLE public.gatos OWNER TO postgres;

--
-- Name: gatos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gatos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gatos_id_seq OWNER TO postgres;

--
-- Name: gatos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gatos_id_seq OWNED BY public.gatos.id;


--
-- Name: inimigos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inimigos (
    id integer NOT NULL,
    nome character varying(40) NOT NULL,
    vida integer NOT NULL,
    atq integer NOT NULL,
    vel_atq numeric(5,2) NOT NULL,
    dps numeric(10,2) NOT NULL,
    alcance_atq integer NOT NULL,
    tipo_atq character varying(5) NOT NULL,
    vel_movimento numeric(4,1) NOT NULL,
    qtde_knockbacks integer NOT NULL,
    tipo text[] NOT NULL,
    hab_especiais text[],
    imagem character varying(255),
    CONSTRAINT chk_tipo CHECK ((tipo <@ ARRAY['Vermelho'::text, 'Flutuante'::text, 'Preto'::text, 'Metal'::text, 'Anjo'::text, 'Alien'::text, 'Zumbi'::text, 'Rel├¡quia'::text, 'Aku'::text, 'Sem Caracter├¡sticas'::text])),
    CONSTRAINT chk_tipo_atq CHECK (((tipo_atq)::text = ANY ((ARRAY['├Ünico'::character varying, '├ürea'::character varying])::text[])))
);


ALTER TABLE public.inimigos OWNER TO postgres;

--
-- Name: inimigos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inimigos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inimigos_id_seq OWNER TO postgres;

--
-- Name: inimigos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inimigos_id_seq OWNED BY public.inimigos.id;


--
-- Name: recursos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recursos (
    id integer NOT NULL,
    tipo character varying(20) NOT NULL,
    nome character varying(25) NOT NULL,
    descricao text NOT NULL,
    imagem character varying(255)
);


ALTER TABLE public.recursos OWNER TO postgres;

--
-- Name: recursos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recursos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recursos_id_seq OWNER TO postgres;

--
-- Name: recursos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recursos_id_seq OWNED BY public.recursos.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nome character varying(40),
    email character varying(40),
    senha_hash character varying(67),
    is_membro boolean DEFAULT false
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: fases id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fases ALTER COLUMN id SET DEFAULT nextval('public.fases_id_seq'::regclass);


--
-- Name: gatos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gatos ALTER COLUMN id SET DEFAULT nextval('public.gatos_id_seq'::regclass);


--
-- Name: inimigos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inimigos ALTER COLUMN id SET DEFAULT nextval('public.inimigos_id_seq'::regclass);


--
-- Name: recursos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recursos ALTER COLUMN id SET DEFAULT nextval('public.recursos_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: fases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fases (id, tipo, subtipo, nome, descricao, dicas, imagem) FROM stdin;
\.


--
-- Data for Name: gatos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gatos (id, raridade, nome, vida, atq, vel_atq, dps, alcance_atq, tipo_atq, vel_movimento, qtde_knockbacks, tmp_recarga_unidade, lvl_max, lvls_adicionais, bom_contra, hab_especiais, custo, imagem) FROM stdin;
\.


--
-- Data for Name: inimigos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inimigos (id, nome, vida, atq, vel_atq, dps, alcance_atq, tipo_atq, vel_movimento, qtde_knockbacks, tipo, hab_especiais, imagem) FROM stdin;
\.


--
-- Data for Name: recursos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recursos (id, tipo, nome, descricao, imagem) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios (id, nome, email, senha_hash, is_membro) FROM stdin;
1	Adm	emailadm@gmail.com	$2y$12$Z7ETV7/c9ZpF1SbbX8iL3.GMo8sFdTQ3uOUgqvgRxKjO6ujyPj9d6	t
\.


--
-- Name: fases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fases_id_seq', 1, false);


--
-- Name: gatos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gatos_id_seq', 1, false);


--
-- Name: inimigos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inimigos_id_seq', 1, false);


--
-- Name: recursos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recursos_id_seq', 1, false);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: fases fases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fases
    ADD CONSTRAINT fases_pkey PRIMARY KEY (id);


--
-- Name: gatos gatos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gatos
    ADD CONSTRAINT gatos_pkey PRIMARY KEY (id);


--
-- Name: inimigos inimigos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inimigos
    ADD CONSTRAINT inimigos_pkey PRIMARY KEY (id);


--
-- Name: recursos recursos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recursos
    ADD CONSTRAINT recursos_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict ZqzFXxLEqtx7f9JWN6eaGwl7CShPvZ5gebFDpcWCZJcGcEUb7jgdv3QcL1lJGk0

